html {
	font-family: Arial, sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7720a3+0,f76d60+100 */
background: #7720a3; /* Old browsers */
background: -moz-linear-gradient(45deg, #7720a3 0%, #f76d60 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #7720a3 0%,#f76d60 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #7720a3 0%,#f76d60 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7720a3', endColorstr='#f76d60',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color: #FFF;
}
.descricao {
margin:-10px auto 30px auto;
font-size:11px;
max-width:80%;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#resultados h3 {
    margin-bottom: 0;
}
h1 {
    line-height: 30px;
}
input, select {
    max-width: 100%;
    background: transparent;
    color: #FFF;
    padding: 10px;
    border-radius: 40px;
    font-size: 20px;
    border: 2px solid #FFF;
    text-align: center;
    width: 300px;
    outline: none;
}
textarea {
    max-width: 100%;
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 20px;
    padding: 25px;
    font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	color: #FFF;
	outline: none;
}

button {
    background: #ff9a33;
    color: #FFF;
    border: 0;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    margin: 10px 5px;
    outline: none;
    max-height: 51px;
}
h2 {
    text-transform: uppercase;
    font-size: 14px;
}

::-webkit-input-placeholder {
	color: #FFF;
	opacity: 0.7;
}

:-moz-placeholder {
	color: #FFF;
	opacity: 0.7;
}
.escalas {
    margin: 5px 0 10px 0;
}
.escalas div {
    font-size: 12px;
    margin: 5px 0;
    letter-spacing: 2px;
    opacity: 0.5;
}
option {
    color: #000;
}


#tecladoNotas {
    max-width: 360px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    justify-content: space-between;
}
#tecladoNotas li {
    padding: 11px 16px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
}
#tecladoNotas li:hover {
    background: rgba(0, 0, 0, 0.5);
}
.maiormenor label {
    cursor: pointer;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.17);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px 0;
    font-size: 14px;
}
.label-maior {
    border-radius: 8px 0 0 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.label-menor {
    border-radius: 0 8px 8px 0;
}
.maiormenor #maior:checked ~ label[for=maior],
.maiormenor #menor:checked ~ label[for=menor]{
    background: #ff9a33;
}
#tomdamusica {
    margin: 0 auto;
    max-width: 360px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 8px;
}
#tomdamusica label {
    width: calc(100% / 3);
    padding: 20px;
    background: rgba(0,0,0,0.2);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#tomdamusica #C:checked ~ label[for=C],
#tomdamusica #Db:checked ~ label[for=Db],
#tomdamusica #D:checked ~ label[for=D],
#tomdamusica #Eb:checked ~ label[for=Eb],
#tomdamusica #E:checked ~ label[for=E],
#tomdamusica #F:checked ~ label[for=F],
#tomdamusica #Gb:checked ~ label[for=Gb],
#tomdamusica #G:checked ~ label[for=G],
#tomdamusica #Ab:checked ~ label[for=Ab],
#tomdamusica #A:checked ~ label[for=A],
#tomdamusica #Bb:checked ~ label[for=Bb],
#tomdamusica #B:checked ~ label[for=B]{
    background: #ff9a33;
}

.notamenor {
    display: none;
}
.btn-group {
    display: flex;
    max-width: 360px;
    margin: 0 auto;
    justify-content: center;
}