<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

<!-- versionCode is optional and Android only -->

  <name>Separador de Vozes</name>

  <description>
      Separe as vozes de seus naipes de sopros.
  </description>

  <author href="http://dududecastro.com" email="contato@dududecastro.com">
      Eduardo Castro
  </author>
  <icon src="icon.png">
</widget>